.two-parts {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.box-one {
  flex: 1;
  height: 100px;
  width: 100px;
}

.box-two {
  flex: 3;
  height: 100px;
  width: 100px;
}

h2 {
  padding-left: 20px;
}

a {
  padding-left: 20px;
  font-size: larger;
}

.form-div {
  padding-left: 100px;
}

.row {
  margin-top: 10px;
}

input {
  margin-left: 20px;
}

.radio-set {
  margin-top: 0;
  margin-left: 65px;
}

.radio-one {
  margin-left: 20px;
}

.radio-two {
  margin-left: 20px;
}
