body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.row1 {
  flex: 3;
  background-color: #162059;
}
.row2 {
  flex: 2;
  background-color: green;
}
.row3 {
  flex: 10;
  background-color: red;
}
.row4 {
  flex: 1;
  background-color: yellow;
}
