body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: 10px solid black;
}

.row1 {
  flex: 3;
  background-color: #162059;
}

.row2 {
  flex: 2;
  background-color: white;
}

.row3 {
  flex: 10;
  background-color: white;
}

.row4 {
  flex: 1;
  background-color: yellow;
}

/* section one styles  */
.mian-title {
  text-align: center;
  color: white;
  padding-top: 20px;
  font: bold 40px "Open Sans", sans-serif;
}

/* section tow styles   */

.section-two-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
}

.section-two-container > .btn {
  background-color: #3144ad;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: bold 2vw "Open Sans", sans-serif;
  text-align: center;
  padding-top: 5px;
}

.section-two-container > .btn:hover {
  background-color: #162059;
  cursor: pointer;
}

.section-two-container-active {
  background-color: white !important;
}

/* home section style  */
.home-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #536cf5;
  display: flex;
  flex-direction: column;
}

.home-title {
  text-align: center;
  color: rgb(36, 5, 5);
  font: bold 40px "Open Sans", sans-serif;
  margin: 0;
}

.home-para {
  color: rgb(36, 5, 5);
  font: 40px "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.image-container {
  width: 100%;
  /* height: 100%; */
  /* background-color: red; */
  text-align: center;
  flex: 1;
  overflow: hidden;
}

.home-image {
  padding: 10px;
  width: 70%;
  max-height: 300px;
  flex: 1;
}
